/* basic layout */
.wrapper.home > .content.grid {
    column-gap: var(--text-size-two);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "line1  line1"
        ".      line2"
        "career line3"
        "career line4";
}


/* line layout */
.wrapper.home > .content.grid .line {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    column-gap: var(--text-gap-space);
    overflow: visible;
}
.wrapper.home > .content.grid > .line:nth-child(1) {
    grid-area: line1;
}
.wrapper.home > .content.grid > .line:nth-child(2) {
    grid-area: line2;
}
.wrapper.home > .content.grid > .line:nth-child(3) {
    grid-area: line3;
}
.wrapper.home > .content.grid > .line:nth-child(4) {
    grid-area: line4;
    align-items: flex-start !important;
}


/* carreer layout */
.wrapper.home > .content.grid > .career {
    grid-area: career;
    background-color: var(--highlight-three);
    padding: 50px;
    border-radius: 50px;
    border: solid var(--stroke-thickness) var(--stroke-color);
    box-shadow: var(--shadow-thickness) var(--shadow-thickness) 0px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* carreer content */
.wrapper.home > .content.grid > .career > .line {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.wrapper.home > .content.grid > .career > .line:nth-child(1) {
    justify-content: flex-start;
}
.wrapper.home > .content.grid > .career > .line:nth-child(1) > span {
    text-align: left;
}
.wrapper.home > .content.grid > .career > .line:nth-child(2) {
    justify-content: center;
}
.wrapper.home > .content.grid > .career > .line:nth-child(2) > span {
    text-align: center;
}
.wrapper.home > .content.grid > .career > .line:nth-child(3) {
    justify-content: flex-end;
}
.wrapper.home > .content.grid > .career > .line:nth-child(3) > span {
    text-align: right;
}
.wrapper.home > .content.grid > .career > .line > span {
    color: var(--default-text-color);
    font-family: "Poppins", Arial;
    font-size: var(--text-size-three);
    font-weight: 700;
}
.wrapper.home > .content.grid > .career > .line.splitter > span {
    height: var(--text-size-three);
    color: var(--splitter-color);
    word-break: break-all;
    overflow: hidden;
}