@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --main-background: rgba(0, 179, 255, 100%);

    /* highlight colors */
    --highlight-one: rgba(255, 0, 107, 100%);
    --highlight-two: rgba(255, 255, 255, 100%);
    --highlight-three: rgba(244, 199, 111, 100%);

    /* text color */
    --default-text-color: rgba(0, 0, 0, 100%);
    --text-shadow: rgba(0, 0, 0, 100%);
    --text-stroke: rgba(0, 0, 0, 100%);

    /* header */
    --header-background: rgba(0, 0, 0, 100%);
    --pagelink-default-color: rgba(244, 199, 111, 100%);
    --pagelink-selected-color: rgb(255, 170, 0, 100%);
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: default;

    /* removing scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    display: none;
}


html, body {
    background-color: var(--main-background);
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}


a, a * {
    cursor: pointer;
}