@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --main-background: rgba(0, 179, 255, 100%);
    --scrollbar-color: rgba(0, 0, 0, 8%);

    /* shadow & stroke */
    --shadow-color: rgba(0, 0, 0, 100%);
    --shadow-thickness: 8px;
    --stroke-color: rgba(0, 0, 0, 100%);
    --stroke-thickness: 5px;

    /* highlight colors */
    --highlight-one: rgb(255, 0, 106);
    --highlight-one-selected: rgb(226, 0, 94);
    --highlight-two: rgba(255, 255, 255, 100%);
    --highlight-three: rgba(244, 199, 111, 100%);
    --highlight-three-selected: rgb(255, 181, 33);

    /* text color */
    --default-text-color: rgba(0, 0, 0, 100%);
    --placeholder-color: rgba(0, 0, 0, 50%);
    --splitter-color: rgba(0, 0, 0, 10%);

    /* header */
    --header-background: rgba(0, 0, 0, 100%);
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: default;

    /* removing scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
    display: none;
}


html, body {
    background-color: var(--main-background);
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


a, a * {
    cursor: pointer;
}